django==1.5
djangorestframework==2.1.17
django-admin-sso==0.1.1
django-cache-url==0.3.2
django-extensions==0.9
django-picklefield==0.2.1
django-sslify==0.2
dj-database-url==0.2.1
gunicorn==0.17.2
psycopg2==2.4.5
pylibmc==1.2.3
raven==3.1.10
simpleaes==0.2
